<section class="about">
   <div class="banner_about">
       <h1 class="about_text">About Us</h1>
   </div>
   <div class="mission1 container">
       <h1 class="text-center">Our Mission</h1><br><br>
       <p class="mission_text">We use the power of equity crowdfunding to make direct and indirect investments in local businesses and value added real estate projects. Our goal is to inject capital in historically disadvantaged areas  where such investments can deliver value and provide benefits to local community residents. </p>
   </div><hr>
   <div>
       <h1 class="text-center">Advisory Board</h1><br><br>
       <div class="container">
           <div class="row">
               <div class="col-md-4">
                   <div class="thumbnail">
                      <%= image_tag("advisor1.jpg") %>
                      <div class="caption">
                        <h3>Al Prudeaux</h3>
                        <lead>CEO Native Sons Capital Group</lead><br><br>
                      </div>
                    </div>
               </div>
               <div class="col-md-4">
                   <div class="thumbnail">
                      <%= image_tag("dwayne.jpg") %>
                      <div class="caption">
                        <h3>Dwayne Hirsch</h3>
                        <lead>Exec Board, Small Business Advocacy Council</lead><br><br>
                      </div>
                    </div>
               </div>
               <div class="col-md-4">
                   <div class="thumbnail">
                      <%= image_tag("advisor3") %>
                      <div class="caption">
                        <h3>Omari Kamal</h3>
                        <lead>Director, CFO Worldwide</lead><br><br>
                      </div>
                    </div>
               </div>
           </div>
           <div class="row">
               <div class="col-md-4">
                   <div class="thumbnail">
                      <%= image_tag("advisor8.jpg") %>
                      <div class="caption">
                        <h3>Antonio Williams</h3>
                        <lead>CEO Green Living Investments</lead><br><br>
                      </div>
                    </div>
               </div>
               <div class="col-md-4">
                   <div class="thumbnail">
                      <%= image_tag("advisor4.jpg") %>
                      <div class="caption">
                        <h3>Monica-Kaye Gamble</h3>
                        <lead>Chicago Policy Lead, AirBNB</lead><br><br>
                      </div>
                    </div>
               </div>
               <div class="col-md-4">
                   <div class="thumbnail">
                      <%= image_tag("advisor7.jpg") %>
                      <div class="caption">
                        <h3>Michael Drayton</h3>
                        <lead>Principal, The Drayton Group Advisors</lead><br><br>
                      </div>
                    </div>
               </div>
           </div>
           <div class="row">
               <div class="col-md-4">
                   <div class="thumbnail">
                      <%= image_tag("advisor6.jpg") %>
                      <div class="caption">
                        <h3>Anthony Zeoli</h3>
                        <lead>Partner, Freeborn & Peters</lead><br><br>
                      </div>
                    </div>
               </div>
               <div class="col-md-4">
                   <div class="thumbnail">
                      <%= image_tag("advisor5.jpg") %>
                      <div class="caption">
                        <h3>Torrence Moore</h3>
                        <lead>CEO Native Sons Capital Group</lead><br><br>
                      </div>
                    </div>
               </div>
            <!--
               <div class="col-md-4">
                   <div class="thumbnail">
                      <%#= image_tag("NATIVESONSofCHICAGO21", size: "202x69") %>
                      <div class="caption">
                        <h3>Leonard Omarr Muhammad</h3>
                        <lead>CEO Native Sons Capital Group</lead><br><br>
                        <p>Tell a lot of really positive things that will dazzle and impress anyone that reads it. Tell a lot of really positive things that will dazzle and impress anyone that reads it. Tell a lot of really positive things that will dazzle and impress anyone that reads it.</p>
                        <ul>
                            <li class="advisory_sm"><a href="#"><i class="fa fa-facebook" alt="Facebook icon" title="Facebook icon"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" alt="Facebook icon" title="Facebook icon"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" alt="Facebook icon" title="Facebook icon"></i></a></li>
                            <li><a href="#"><i class="fa fa-envelope" alt="Facebook icon" title="Facebook icon"></i></a></li>
                        </ul>    
                      </div>
                    </div>
               </div>
               -->
           </div>
       </div>
   </div>
</section>   