  <!--=========================================================================================================================
       1.   HERO
  ============================================================================================================================-->
    <section id="hero">
      <div class="container">
          <div class="row">
              <div class="col-md-4 callout text-center"><h1>INVEST </h1></div>
              <div class="col-md-4 callout text-center"><h1>IMPACT</h1><br><br>
                  <div class="lead">
                      Investing a little changes a lot
                  </div>
                  <button class="btn btn-lg btn-danger">Learn More</button>
              </div>
              <div class="col-md-4 callout text-center"><h1>EMPOWER</h1></div>
              </div>
          </div>
      </div>
    </section>
 
 <!--=========================================================================================================================
     2.     Personal Appeal 
  ============================================================================================================================-->
     <section class="appeal">
       <div class="container">
         <div class="row">
           <div class="col-md-6 col-md-offset-6 callout">
             <h1>Let's Build Stronger<br>And Safer Communities<br>Together</h1>
             <blockquote>For years we have watched our communities deteriorate due to the flight of jobs and businesses.   Now its time to united to rebuild our economy! No donations, handouts or charity!  Let's begin to show others that united we profit.</blockquote>
           </div>
         </div><!--close row-->
       </div><!--close container-->
     </section>
      
  
  
  <!--=========================================================================================================================
      3.    Our campaigns
  ===========================================================================================================================-->
     <section class="campaign">
       <h1 class="center">How We Deploy Capital</h1>
       <p class="subtext text-center">During our 5 year campign we plan to deploy $100 million into our underserved<br> communities specifically in the following areas</p><br>
       <div class="container">
       <div class="row">
         <div class="col-md-4 col-sm-12 projects">
          <%= image_tag("class_boy.jpg", size: "300x150") %>
           <h3>Ecomomic Empowerment</h3>
           <p class="textbox">A really good description of this that makes people want to click and learn more.  A really good description of this that makes people want to click and learn more.  A really good description of this that makes people want to click and learn more.  A really good description of this that makes people want to click and learn more.</p>
           <button class="btn btn-danger btn-sm">Learn More</button>
         </div>
         <div class="col-md-4 col-sm-12 projects">
           <%= image_tag("rehab.jpeg", size: "300x150") %>
           <h3>Urban Redevelopment</h3>
           <p class="textbox">A really good description of this that makes people want to click and learn more.  A really good description of this that makes people want to click and learn more.  A really good description of this that makes people want to click and learn more.  A really good description of this that makes people want to click and learn more.</p>
           <button class="btn btn-danger btn-sm">Learn More</button>
         </div>
          <div class="col-md-4 col-sm-12 projects">
           <%= image_tag("about_us.jpeg", size: "300x150") %>
           <h3>Entrepreneurship</h3>
           <p class="textbox">A really good description of this that makes people want to click and learn more.  A really good description of this that makes people want to click and learn more.  A really good description of this that makes people want to click and learn more.  A really good description of this that makes people want to click and learn more.</p>
           <button class="btn btn-danger btn-sm">Learn More</button>
         </div>
       </div><!--row-->
      </div><!--container-->
     </section>
  <!--=========================================================================================================================
     4.     How You Can Help
  ============================================================================================================================-->
     <section class="crowd">
       
        <button class="btn btn-lg btn-danger">Learn More</button>
     </section>
     


     <!--=========================================================================================================================
      7.    Blog
  ============================================================================================================================-->
     <section class="blog">
       <div class="container">
         <div class="row">
           <h1>Blog</h1>
           <div class="col-md-6">
             <div class="thumbnail">
             <%= image_tag("partner.jpeg") %>
             <div class="caption">
             <h2>Blog title #1</h2>
             <p>November 21, 2016  | <span class="blogicon"><i class="fa fa-eye"> 120</i></span ><span class="blogicon"><i class="fa fa-comment"> 20</i></span><span class="blogicon"><i class="fa fa-heart"> 12</i></span></p>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
             <button class="btn btn-success">Read More</button>
           </div>
           </div>
           </div>
           <div class="col-md-6">
             <div class="thumbnail">
             <%= image_tag("partner.jpeg") %>
             <div class="caption">
             <h2>Blog title #2</h2>
             <p>November 21, 2016  &nbsp| <span class="blogicon"><i class="fa fa-eye"> 120</i></span ><span class="blogicon"><i class="fa fa-comment"> 20</i></span><span class="blogicon"><i class="fa fa-heart"> 12</i></span></p>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
             <button class="btn btn-success">Read More</button>
           </div>
           </div>
         </div>
       </div>
       </div>
     </section>
<!--=========================================================================================================================
     8.   Partner with US (have local businesses register) 
  ============================================================================================================================-->
     <section class="partner">
       <h1 class="text-center">Partner with Us</h1><br>
           <p class="text-center subtext">We will be <span class="redlight"> Igniting the power of us</span> by partnering with local businesses like yours. <br>Please take a moment and tell us more about your business.</p><br><br>
          <div class="container">
              <div class="row">
                  <div class="col-md-6 col-md-offset-3">
                       <form>
                           <div class="form-group">
                            <input type="email" class="form-control" id="name" placeholder="Name">
                          </div>
                          <div class="form-group">
                            <input type="email" class="form-control" id="company" placeholder="Company Name">
                          </div>
                          <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Email">
                          </div>
                          <div class="form-group">
                            <input type="phone" class="form-control" id="phone" placeholder="Phone">
                          </div>
                      </form>
          </div>
          </div>
          </div>
     </section>     
  
     
  <!--=========================================================================================================================
     9.     Corporate & Community Partners
  ============================================================================================================================-->
      <section class="corplogo">
       <div class="container">
         <h2>Our Corporate and Community Partners</h2>
         <div class="row">
           <div class="col-md-2 center">
             <%= image_tag("NATIVESONSofCHICAGO21", size: "120x41") %>
           </div>
           <div class="col-md-2 center">
             <%= image_tag("vestlo logo.png", size: "120x120") %>
           </div>
           <div class="col-md-2 center">
             <%= image_tag("SBAC_Logo.png", size: "180x90") %>
           </div>
           <div class="col-md-2 center">
             <%= image_tag("chicago_logo1.png", size: "120x120") %>
           </div>
           <div class="col-md-2 center">
             <%= image_tag("PeerPoint Capital.png", size: "180x127") %>
           </div>
           <div class="col-md-2 center">
             <%= image_tag("Freeborn-logo.png", size: "200x50") %>
           </div>
         </div><!--end row-->
       </div><!--end container-->
       
     </section>
  
  
  <!--=========================================================================================================================
          FOOTER
  ============================================================================================================================-->
  
    <footer>
        <div class="mainfoot">
            <div class="container">
                <div class="row">
                   <div class="col-md-3 col-sm-12">
                    <center><%= image_tag("NATIVESONSofCHICAGO21", size: "202x69") %></center><br>
                    <p class="justified">Native Sons of Chicago LLC, is a for profit corporation organized to makes direct and indirect investments in local businesses and value added real estate projects. The goal is to inject capital in historically disadvantaged areas  where such investments can deliver value and provide benefits to local community residents. 
                    </p> 
                  </div>   
                  <ul class="col-md-3 col-sm-12 footlist">
                    <h4>Get Involved</h4><hr>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Get Involved</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Invest in Us</a></li>
                    <li><a href="#">Learn More</a></li>
                  </ul>
                  <ul class="col-md-3 col-sm-12 footlist">
                    <h4>Learn More</h4><hr>
                    <li><a href="#">About</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Careers</a></li>
                  </ul>
                 
                  <ul class="col-md-3 col-sm-12 footlist">
                    <h4>Why keep us a secret?</h4>
                    <ul class="mediabar">
                    <li class="leadimage"><a href="https://www.facebook.com/Flipbank-765050520297244/?skip_nax_wizard=true"><i class="fa fa-facebook" alt="Facebook icon" title="Facebook icon"></i></a></li>
                    <li><a href="https://www.facebook.com/Flipbank-765050520297244/?skip_nax_wizard=true"><i class="fa fa-twitter" alt="Facebook icon" title="Facebook icon"></i></a></li>
                    <li><a href="https://www.facebook.com/Flipbank-765050520297244/?skip_nax_wizard=true"><i class="fa fa-youtube" alt="Facebook icon" title="Facebook icon"></i></a></li>
                    <li><a href="https://www.facebook.com/Flipbank-765050520297244/?skip_nax_wizard=true"><i class="fa fa-linkedin" alt="Facebook icon" title="Facebook icon"></i></a></li>
                    <li><a href="https://www.facebook.com/Flipbank-765050520297244/?skip_nax_wizard=true"><i class="fa fa-instagram" alt="Facebook icon" title="Facebook icon"></i></a></li><br>
                    </ul>
                    <span>73 W. Monroe St</span><br>
                    <span>Chicago, IL 60603</span><br>
                    <span>312-522-6708</span><br>
                    <span>info@nativesonsofchicago.com</span>
                  </ul>
                </div>
            </div>
            <div class="subfoot">
                <p>&copy; 2016 Native Sons of Chicago, Inc | All Rights Reserved.<span class="pull-right"><a href="terms.html">Terms of Use &nbsp;</a> | <a href="privacy.html"> &nbsp; Privacy Policy</a></span></p>
            </div>
    </footer>
  <!--=========================================================================================================================
          MODAL
  ============================================================================================================================-->
  <div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->