  <!--=========================================================================================================================
       1.   HERO
  ============================================================================================================================-->
    <section id="hero">
      <div class="container">
          <div class="row">
              <div class="col-md-4 callout text-center"><h1>INVEST </h1></div>
              <div class="col-md-4 callout text-center"><h1>IMPACT</h1></div>
              <div class="col-md-4 callout text-center"><h1>EMPOWER</h1></div>
          </div><br><br>
          <div class="row">
              <div class="col-md-6 col-md-offset-3 text-center">
              <div class="lead">
                          Investing a little can change a lot.  We are commited to rejuvinating OUR neighborhoods one building at a time.  
              </div>
                      <%= link_to "Learn More", "https://vestlo.com/native-sons-of-chicago", class: "btn btn-danger navbar-btn btn-lg" %>
              </div>
          </div>
          
     
    </section>
 
 
  <!--=========================================================================================================================
     2.     Personal Appeal 
  ============================================================================================================================-->
     <section class="appeal">
       <div class="container">
         <div class="row callout1">
           <div class="col-md-6 text-center">
              <%= image_tag("buildingA.JPG", size: "450x550") %> 
           </div>     
           <div class="col-md-6 ">
             <h1>Let's Build Stronger<br>And Safer Communities<br>Together</h1>
             <blockquote>For years we have watched our communities deteriorate due to the flight of jobs and businesses.   Now its time to unite to rebuild our economy! No donations, handouts or charity!  Let's begin to show others that <span class="highlight strong">united we profit!</span></blockquote>
             <%= link_to "Learn How to Invest", "https://vestlo.com/native-sons-of-chicago", class: "btn btn-danger navbar-btn btn-lg" %>
           </div>
         </div><!--close row-->
       </div><!--close container-->
     </section>
     
  <!--=========================================================================================================================
     4.     How You Can Help
  ========================================================================================================================= -->
     <section class="crowd">
       
        <%= link_to "Learn More", "https://vestlo.com/native-sons-of-chicago", class: "btn btn-danger navbar-btn btn-lg" %>
     </section>
     

  <!--=========================================================================================================================
      3.    Our campaigns
  ===========================================================================================================================-->
     <section class="campaign">
       <h1 class="center">How We Deploy Capital</h1>
       <p class="subtext text-center">During our 5 year campaign we plan to deploy $100 million into our underserved<br> communities specifically in the following areas</p><br>
       <div class="container">
       <div class="row">
         <div class="col-md-4 col-sm-12 projects">
          <%= image_tag("class_boy.jpg", size: "300x150") %>
           <h3>Ecomomic Empowerment</h3>
           <p class="textbox">The introduction of Equity Crowdfunding to the US economy offers an economic empowerment opportunity never seen before. Business owners are now able to not only raise investment funds from everyday citizens but most importantly, that money can now be raised from the people within the communities those businesses serve. Using ECF as an economic development tool is a strategy and not a side effect.</p>
           <%= link_to "Learn More", "https://vestlo.com/native-sons-of-chicago", class: "btn btn-danger navbar-btn btn-sm" %>
         </div>
         <div class="col-md-4 col-sm-12 projects">
           <%= image_tag("rehab.jpeg", size: "300x150") %>
           <h3>Urban Redevelopment</h3>
           <p class="textbox">The shuttered real estate in communities throughout the Chicagoland area offers enormous opportunities to invest and redevelop our communities while providing jobs for local workers both skilled and unskilled. Native Sons has developed a sustainable strategy to raise over $100 Million over the next 5 years, creating jobs, homeownership and investment opportunities along the way.</p>
           <%= link_to "Learn More", "https://vestlo.com/native-sons-of-chicago", class: "btn btn-danger navbar-btn btn-sm" %>
         </div>
          <div class="col-md-4 col-sm-12 projects">
           <%= image_tag("about_us.jpeg", size: "300x150") %>
           <h3>Entrepreneurship</h3>
           <p class="textbox">The best ideas from our brightest minds can now be brought to life in this new environment. As leaders in the equity crowdfunding space, we will help local entrepreneurs and existing business owners grow viable and sustainable business models. Whether we are helping you harness the power of ECF or acting as a financial partner, supporting innovation is our passion and we are positioned to help you succeed.</p>
           <%= link_to "Learn More", "https://vestlo.com/native-sons-of-chicago", class: "btn btn-danger navbar-btn btn-sm" %>
         </div>
       </div><!--row-->
      </div><!--container-->
     </section>
     

           
  


<!--=========================================================================================================================
     8.   Partner with US (have local businesses register) 
  ============================================================================================================================
     <section class="partner">
       <h1 class="text-center">Partner with Us</h1><br>
           <p class="text-center subtext">We will be <span class="redlight"> Igniting the power of us</span> by partnering with local businesses like yours. <br>Please take a moment and tell us more about your business.</p><br><br>
          <div class="container">
              <div class="row">
                  <div class="col-md-4 col-md-offset-4">
                       <form>
                           <div class="form-group">
                            <input type="email" class="form-control" id="name" placeholder="Name">
                          </div>
                          <div class="form-group">
                            <input type="email" class="form-control" id="company" placeholder="Company Name">
                          </div>
                          <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Email">
                          </div>
                          <div class="form-group">
                            <input type="phone" class="form-control" id="phone" placeholder="Phone">
                          </div>
                          <%#= link_to "Partner With Us", new_contact_path, class: "btn btn-danger navbar-btn btn-block" %>
                      </form>
          </div>
          </div>
          </div>
     </section>     
  
     -->
  <!--=========================================================================================================================
     9.     Corporate & Community Partners
  ============================================================================================================================-->
      <section class="corplogo">
       <div class="container">
         <h2>Our Corporate and Community Partners</h2>
         <div class="row">
           <div class="col-md-2 col-md-offset-1 center">
             <%= image_tag("vestlo logo.png", size: "120x120") %>
           </div>
           <div class="col-md-2 center sbac">
             <%= image_tag("SBAC_Logo.png", size: "180x90") %>
           </div>
           <div class="col-md-2 center">
             <%= image_tag("chicago_logo1.png", size: "120x120") %>
           </div>
           <div class="col-md-2 center peerpoint">
             <%= image_tag("PeerPoint Capital.png", size: "200x127") %>
           </div>
           <div class="col-md-2 freeborn">
             <%= image_tag("Freeborn-logo.png", size: "240x60") %>
           </div>
         </div><!--end row-->
       </div><!--end container-->
       
     </section>
  
  
 
  <!--=========================================================================================================================
          MODAL
  ============================================================================================================================-->
  <div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->