 <!--=========================================================================================================================
          FOOTER
  ============================================================================================================================-->
  
    <footer>
        <div class="mainfoot">
            <div class="container">
                <div class="row">
                   <div class="col-md-3 col-sm-12">
                    <center><%= image_tag("NATIVESONSofCHICAGO21", size: "202x69") %></center><br>
                    <p class="justified">Native Sons of Chicago LLC, is a for profit corporation organized to makes direct and indirect investments in local businesses and value added real estate projects. The goal is to inject capital in historically disadvantaged areas  where such investments can deliver value and provide benefits to local community residents. 
                    </p> 
                  </div>   
                  <ul class="col-md-3 col-sm-12 footlist">
                    <h4>Get Involved</h4><hr>
                    <li><%= link_to 'Invest in Us', new_contact_path %></li>
                    <li><%= link_to "Projects", projects_path %></li>
                    <li><%= link_to 'Blog', blog_path %></li>
                    <li><%= link_to 'Learn More', new_contact_path %></li>
                  </ul>
                  <ul class="col-md-3 col-sm-12 footlist">
                    <h4>Learn More</h4><hr>
                    <li><a href="#">About</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Contact Us</a></li>
                  </ul>
                 
                  <ul class="col-md-3 col-sm-12 footlist">
                    <h4>Help spread the word!</h4>
                    <ul class="mediabar">
                    <li class="leadimage"><a href="https://www.facebook.com/Flipbank-765050520297244/?skip_nax_wizard=true"><i class="fa fa-facebook" alt="Facebook icon" title="Facebook icon"></i></a></li>
                    <li><a href="https://www.facebook.com/Flipbank-765050520297244/?skip_nax_wizard=true"><i class="fa fa-twitter" alt="Facebook icon" title="Facebook icon"></i></a></li>
                    <li><a href="https://www.facebook.com/Flipbank-765050520297244/?skip_nax_wizard=true"><i class="fa fa-youtube" alt="Facebook icon" title="Facebook icon"></i></a></li>
                    <li><a href="https://www.facebook.com/Flipbank-765050520297244/?skip_nax_wizard=true"><i class="fa fa-linkedin" alt="Facebook icon" title="Facebook icon"></i></a></li>
                    <li><a href="https://www.facebook.com/Flipbank-765050520297244/?skip_nax_wizard=true"><i class="fa fa-instagram" alt="Facebook icon" title="Facebook icon"></i></a></li><br>
                    </ul>
                    <span>73 W. Monroe St</span><br>
                    <span>Chicago, IL 60603</span><br>
                    <span>312-522-6708</span><br>
                    <span>info@nativesonsofchicago.com</span>
                  </ul>
                </div>
            </div>
            <div class="subfoot">
                <p>&copy; 2016 Native Sons of Chicago, Inc | All Rights Reserved.<span class="pull-right"><a href="terms.html">Terms of Use &nbsp;</a> | <a href="privacy.html"> &nbsp; Privacy Policy</a></span></p>
            </div>
    </footer>